


h1 {
    color: white;
    margin: 0;
    font-size: 64px;
}

h2 {
    font-size: 32px;
    color: white;
    margin: 0;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    background-image: url('./../../../../public/img/hero_bg.jpg');
    background-size: cover;
    background-position: center;
}

.maintitle{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 200px;
gap: 10px;

}

div{
    width: 100%;
}