/* You can add global styles to this file, and also import other style files */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    src: url('./../public/fonts/Raleway-Regular.ttf');
}

@font-face{
    font-display: swap;
    font-family: 'Economica';
    src: url('./../public/fonts/Economica/Economica-Regular.ttf');
}

.fontRaleway{

    font-family: 'Raleway';
}

body{
    width: 100%;
    height: 100vh;

}